@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.template-node {
  min-height: 35px;
  border: 1px solid #29292c;
  padding: 5px;
  border-radius: 5px;
  background: #29292c;
  min-width: 150px;
}

.template-node label {
  display: block;
  color: #eee;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  line-height: 35px;
}

.temp .react-flow__edge-path {
  stroke: #bbb;
  stroke-dasharray: 5 5;
}
